<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
]>
<root id="-1">
  <login id="1057" key="8936d077-ae05-4fb3-be89-add77c79b830" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-12-13T12:58:17" updateDate="2017-12-13T12:58:17" nodeName="Login" urlName="login" path="-1,1057" isDoc="" nodeType="1052" creatorName="anjali" writerName="anjali" writerID="0" template="1051" nodeTypeAlias="login" isPublished="true">
    <backgroundImage><![CDATA[umb://media/66cb9544de8b4f668468510fafe7fbbe]]></backgroundImage>
    <pageTitle><![CDATA[Umbraco Development]]></pageTitle>
    <footerText><![CDATA[Copyright Umbraco development]]></footerText>
  </login>
</root>